<ng-container *ngIf="appFooterContainerCSSClass">
  <!--begin::Footer container-->
  <div class="app-container" [ngClass]="appFooterContainerCSSClass">
    <ng-container *ngTemplateOutlet="footerView"></ng-container>
  </div>
  <!--end::Footer container-->
</ng-container>

<ng-container *ngIf="!appFooterContainerCSSClass">
  <ng-container *ngTemplateOutlet="footerView"></ng-container>
</ng-container>

<ng-template #footerView>
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-semibold me-1">{{currentDateStr}}&copy;</span>
    <a href="https://brac.net/" target="_blank" class="text-gray-800 text-hover-primary">BRAC, BANGLADESH, All rights reserved.</a>
  </div>
  <!--end::Copyright-->

  <!--begin::Menu-->
  <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
    <li class="menu-item">
       Developed By:
        <a href="http://www.bracits.com" target="_blank" class="text-dark-50">
          <img class="vendor-logo" src="./assets/media/logos/bracit-logo.svg" alt="BRAC IT" height="15px">
        </a>

    </li>
  </ul>
  <!--end::Menu-->

</ng-template>
