<div class="bg-brac d-flex align-items-center justify-content-center h-100 text-center">
  <div class="">
    <a class="mt-5" href="" >
      <img src="./assets/media/logos/brac_full_logo.png" height="52px" alt="">
    </a>
    <br><br><br>
    <h2 class="mt-5 text-gray-800">BRAC SSO LOGIN</h2>
    <p class="text-muted px-2">If you have a valid BRAC Gmail id or BRAC PIN, you should login using SSO</p>
    <div class="my-5 px-5">
      <button class="btn btn-pill">SSO Login</button>
    </div>
  </div>
</div>

