.bg-brac{
  background-color:  white;
  background-image: url("../../../../../../assets/media/misc/bg-3.jpg");
}


.font-login{
  font-family: 'Poppins', sans-serif !important;
}

.btn-pill{
  border-radius: 2rem;
  background-color: #ec018c;
  border-color: #ec018c;
  color: white;
}
