<!--begin::Row-->
<div class="row">
  <div class="col-lg-8">
    <!--begin::Card-->
    <div class="card card-custom gutter-b">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">Module</h3>
        </div>
      </div>
      <div class="card-body px-0 py-3">
        <div class="row d-flex m-5">
          <a  href="#" class="nav-link feature-link-item d-flex flex-grow-1 flex-column align-items-center">
    <span class="py-2 bg-light bg-hover">
        <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Movie-Lane2.svg-->
        <span
              class="svg-icon svg-icon svg-icon-3x d-block my-12 mx-15"></span>
      <!--end::Svg Icon-->
    </span>
            <span class="font-size-sm pt-2 mt-3 text-hover-primary title text-center kt-link">Configuration</span>
          </a>
        </div>
      </div>
    </div>
    <!--end::Card-->

    <!--begin::Card-->
    <div class="card card-custom">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">Media & Advertisement</h3>
        </div>
        <div class="card-toolbar">
          <a href="#">
            See all
          </a>
        </div>
      </div>
      <div class="card-body px-0 media-list">

      </div>
    </div>
    <!--end::Card-->
  </div>
  <div class="col-lg-4 mt-8 mt-lg-0">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">Notice</h3>
        </div>
        <div class="card-toolbar">
          <a href="#">
            See all
          </a>
        </div>
      </div>

    </div>
    <!--end::Card-->
  </div>
</div>


<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <<!--begin:Header-->



  <!--  &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">-->
<!--    <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="Active Projects" color="#F1416C"-->
<!--      img="./assets/media/patterns/vector-1.png"></app-cards-widget20>-->

<!--    <app-cards-widget7 cssClass="h-md-50 mb-5 mb-xl-10" [icon]="false" [stats]="357" description="Professionals"-->
<!--      labelColor="dark" textColor="gray-300"></app-cards-widget7>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Col&ndash;&gt;-->

<!--  &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">-->
<!--    <app-cards-widget17 cssClass="h-md-50 mb-5 mb-xl-10"></app-cards-widget17>-->
<!--    <app-lists-widget26 class="h-lg-50"></app-lists-widget26>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Col&ndash;&gt;-->


<!--  &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--  <app-engage-widget10 class="col-xxl-6" cssClass="h-md-100"></app-engage-widget10>-->
<!--  &lt;!&ndash;end::Col&ndash;&gt;-->
</div>
<!--end::Row-->

<!--begin::Row-->
<!--<div class="row gx-5 gx-xl-10">-->
<!--  &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--  <div class="col-xxl-6 mb-5 mb-xl-10">-->
<!--    <app-new-charts-widget8 cssClass="h-xl-100" chartHeight="275px" [chartHeightNumber]="275"></app-new-charts-widget8>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Col&ndash;&gt;-->

<!--  &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--  <div class="col-xxl-6 mb-5 mb-xl-10">-->
<!--    <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Col&ndash;&gt;-->
<!--</div>-->
<!--end::Row-->

<!-- begin::Row -->
<div class="row gy-5 gx-xl-8">
<!--  <div class="col-xxl-4">-->
<!--    <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>-->
<!--  </div>-->
  <div class="col-xl-12">
    <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<!--<div class="row gy-5 g-xl-8">-->
<!--  <div class="col-xl-4">-->
<!--    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>-->
<!--  </div>-->
<!--  <div class="col-xl-4">-->
<!--    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>-->
<!--  </div>-->
<!--  <div class="col-xl-4">-->
<!--    <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-8"></app-lists-widget4>-->
<!--  </div>-->
<!--</div>-->
<!-- end::Row -->

<div class="row g-5 gx-xxl-8">
<!--  <div class="col-xxl-4">-->
<!--    <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success" chartHeight="150px">-->
<!--    </app-mixed-widget8>-->
<!--  </div>-->
  <div class="col-xxl-12">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>
</div>

<!-- begin:: Modal example -->
 <app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<button class="btn btn-primary" (click)="openModal()">Open modal</button>
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal example -->
